body {
    padding-top: 50px;
}

#home {
    padding-top:100px;
    height:975px;
    background-color: #1E88E5;
}

#about {
    padding-top:100px;
    height:970px;
    background-color: #00bcd4;
}

#portfolio {
    padding-top:100px;
    height:980px;
    background-color: #673ab7;
}

#contact {
    padding-top:100px;
    height:970px;
    background-color: #ff9800;
}

#p2,#p4,#p5,#p7 {
    height:200px;
    background-color: #ecf0f1;
}

#p1,#p3,#p6,#p8 {
    height:200px;
    background-color: #bdc3c7;
}

.fa-facebook {
    background:#3b5998;
    color: white;
    padding: 15px 20px;
    font-size: 22px;
    border-radius: 8px;
}

.fa-facebook:hover {
    background:#3b5980;
    color: white;
}

.fa-github {
    background:#FFFFFF;
    color: black;
    font-size: 46px;
    border-radius: 60%;
}

.fa-github:hover {
    background: black;
    color: #FFFFFF;
}

.fa-twitter {
    font-size:44px;
}

/*

If we want default navbar to have a collapsible menu

@media (max-width: 3000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0px 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/
